<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/registration_record_keeper.css}" rel="stylesheet">
  <title>Страница регистрации</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel"><a href="" id="home" class="material-icons">home</a></li>
      <li class="toppanelel" style="float: right;">
        <form th:action="@{/logout}" th:method="POST">
          <input type="submit" value="Выход"/>
        </form>
      </li>      
      <li class="toppanelel" style="float: right;">Пользователь</li>      
    </ul>    
  </div>

  <h2 id="title">Регистрация нового специалиста, пользователя</h2>

<form id="registration-form" th:action="@{/auth/registration_record_keeper}" th:method="post" autocomplete="on" th:object="${person}">
  <label for="username">Логин:</label><br>
  <input type="text" id="username" th:field="*{username}"><br>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
  <br>
  <label for="password">Пароль:</label><br>
  <input type="password" th:field="*{password}" id="password">
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
  <br><br>
  <label for="firstName">Имя:</label><br>
  <input type="text" id="firstName" th:field="*{firstName}">
  <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</div>
  <br>
  <label for="lastName">Фамилия:</label><br>
  <input type="text" id="lastName" th:field="*{lastName}">
  <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</div>
  <br><br>
  <label for="birthday">Дата рождения</label><br>
  <input type="date" id="birthday" th:field="*{birthday}">
  <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</div>
  <br><br>
  <label for="role">Выберите роль:</label><br>
  <select id="role" required th:field="*{role}">
    <option value="" selected></option>
    <option value="ROLE_PATIENT">Пациент</option>
    <option value="ROLE_SPECIALIST">Специалист</option>
  </select>
  <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</div>
  <br><br><br>
  <input type="submit" value="Регистрация" class="submit_button"><br><br>
  <span id="message" name="message" class="message"></span><br>
</form>
<br>

<script type="text/javascript" th:src="@{/js/registration_record_keeper.js}"></script>

</body>
</html>