body {
    background-color: #f0f0f1;
    font-family: Arial, Verdana, sans-serif;
}

#top {
    margin-left: 10px;
}

#toppanel {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.toppanelel {
    float: left;
    display: block;
    padding: 8px;
}

#home {
    background-color: #2196f3;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

#home:hover {
    background-color: #0b7dda;
}

#main {
    clear: both;    
}

h1.main {
    padding-top: 10px;
    padding-left: 10px;
}

#patientForm {
    font-size: 20px;
}

label.patientFormLabel {    
    margin-left: 10px;
}

#fname, #lname {
    font-size: 15px;
    margin-left: 10px; 
}

#dateFormEl, #choosingAvailableTimeFormEl {
    margin-left: 10px;
    padding-top: 15px;
}

#dateForm, #choosingAvailableTimeForm {
    font-size: 20px;
}

#date, #availableTime {
    font-size: 15px;    
}

#dateSpan {
    color: darkcyan;
    font-weight: bold;
}

#applyBtn {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    width: 250px;
    height: 35px;
    background-color: #2271b1;
    color: #ffffff;
    border-radius: 4px;
    border: 1px #2271b1;
}

#applyBtn:hover {
    font-size: 20px;
    background-color: #1d5f96;
    color: #ffffff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#message {
    visibility: hidden;
    margin-left: 10px;
    font-size: 15px;
    text-align: center;
    color: red;
}

h3.modalHeading {
    clear: both;
    text-align: center;
    color: black;        
}

#dataForConfirmation {
    border-style: solid;
    border-width: thin;
    width: fit-content;      
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    font-size: 15px;
}

#fnameConfirmation, #lnameConfirmation, #dateConfirmation, #timeConfirmation {
    font-size: 15px;
}

#elForButtonsModal {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

button.cancel {
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #b3b3b3;
    border-radius: 5px;    
}

button.cancel:hover {
    background-color: rgb(204, 204, 204, 0.5);
}

input.confirm {
    color: white;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
    background-color: #2196f3;
    border-style: none;
    border-radius: 5px;
}

input.confirm:hover {
    background-color: #0b7dda;
}