<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/appointment.css">
  <title>Запись на прием</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel"><a href="" id="home" class="material-icons">home</a></li>
      <li class="toppanelel" style="float: right;"><a href="">Выход</a></li>
      <li class="toppanelel" style="float: right;">Пользователь</li>      
    </ul>    
  </div>

  <div id="main">
    <h1 class="main">Запись к: Специалист</h1>
    
    <div id="patientEl">
      <form id="patientForm" action="" method="post">
        <label class="patientFormLabel" for="fname">Имя: </label><br>
        <input type="text" readonly name="fname" id="fname" value="John"><br>
        <label class="patientFormLabel" for="lname">Фамилия: </label><br>
        <input type="text" readonly name="lname" id="lname" value="Doe">
      </form>
    </div><br>

    <div id="dateFormEl">    
      <form id="dateForm" action="" method="post">
        <label for="date">Выберите дату:</label>
        <input type="date" name="date" id="date">        
      </form>
    </div>

    <div id="choosingAvailableTimeFormEl">
      <form id="choosingAvailableTimeForm" action="" method="post">
        <label for="availableTime">Выберите доступное время:</label>
        <select name="availableTime" id="availableTime">
          <option value="08:00">08:00</option>
          <option value="08:30">08:30</option>
          <option value="09:00">09:00</option>
        </select>
      </form>
    </div><br>

    <span id="message" name="message" class="message"></span><br>
    <button id="applyBtn">Записаться</button>

  </div>
  
  <div id="confirmationModal" class="modal">
    
    <div class="modal-content">
      <span class="close">&times;</span>            
      <h3 class="modalHeading">Подтверждение записи</h3>

      <div>        
        <form id="patientDataForm" action="" method="post">
          <div id="dataForConfirmation">
            <label for="fnameConfirmation">Имя:</label><br>
          <input type="text" readonly id="fnameConfirmation"><br>
          <label for="lnameConfirmation">Фамилия:</label><br>
          <input type="text" readonly id="lnameConfirmation"><br>
          <label for="dateConfirmation">Дата:</label><br>
          <input type="date" readonly name="" id="dateConfirmation"><br>
          <label for="">Время:</label><br>
          <input type="time" readonly name="" id="timeConfirmation"><br>
          </div>
          <div id="elForButtonsModal">
            <button type="button" id="cancelBtn" class="cancel">Отмена</button>
            <input type="submit" id="confirmBtn" class="confirm" value="Подтвердить">            
          </div>          
        </form>        
      </div>
    </div>

  </div>

  <script src="js/appointment.js"></script>
  
</body>
</html>