<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:href="@{/css/book_an_appointment.css}" rel="stylesheet">
  <title>Заголовок</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel">
        <a th:if="${currentUser.getRole} == 'ROLE_RECORDKEEPER'" th:href="@{/main_record_keeper}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_SPECIALIST'" th:href="@{/main_specialist}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_PATIENT'" th:href="@{/main_patient}" id="home" class="material-icons">home</a>
      </li>
      <li class="toppanelel" style="float: right;">
        <form th:action="@{/logout}" th:method="POST">
          <input type="submit" value="Выход"/>
        </form>
      </li>      
      <li class="toppanelel" style="float: right;"><a th:href="@{/person/{id}(id=*{currentUser.getId()})}" th:text="*{currentUser.getFirstName()} + ' ' + *{currentUser.getLastName()}"></a></li>      
    </ul>    
  </div>

  <div id="main">
    <h2 id="title" th:text="'Запись к: ' + ${specialtyName}"></h2>    
    
    <!-- <form id="dataSelectionForm" th:method="post" th:object="${availableWorkTimes}">
      <label for="dateOfWork">Дата: </label>
      <input type="date" th:field="*{dateOfWork}" id="dateOfWork"><br>

      <label for="timeStartAt">Выберите доступное время: </label>
      <select name="timeStartAt" id="timeStartAt">
        <option th:each="i : ${availableTimes}" th:value="${i}" th:text="${i}"></option>
      </select><br>      
    </form> -->

    <form id="dataSelectionForm" method="post">
      <label for="dateOfWork">Дата: </label>
      <input type="date" name="dateOfWork" id="dateOfWork"><br>

      <label for="timeStartAt">Выберите доступное время: </label>
      <select name="timeStartAt" id="timeStartAt">        
      </select><br>      
    </form>
    
    <!--
    <form id="form" th:action="@{/booking}" th:method="post" th:object="${bookAppointment}">

      <input type="submit" value="Записаться" class="submit_button">      
    </form>3
    -->
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

  <script th:inline="javascript">var specialtyName = [[${specialtyName}]]</script>
  
  <script type="text/javascript" th:src="@{/js/book_an_appointment.js}"></script>

</body>
</html>