<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/book_an_appointment.css}" rel="stylesheet">
  <title>Заголовок</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel">
        <a th:if="${currentUser.getRole} == 'ROLE_RECORDKEEPER'" th:href="@{/main_record_keeper}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_SPECIALIST'" th:href="@{/main_specialist}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_PATIENT'" th:href="@{/main_patient}" id="home" class="material-icons">home</a>
      </li>
      <li class="toppanelel" style="float: right;">
        <form th:action="@{/logout}" th:method="POST">
          <input type="submit" value="Выход"/>
        </form>
      </li>      
      <li class="toppanelel" style="float: right;"><a th:href="@{/person/{id}(id=*{currentUser.getId()})}" th:text="*{currentUser.getFirstName()} + ' ' + *{currentUser.getLastName()}"></a></li>      
    </ul>    
  </div>

  <div id="main">
    <h2 id="title" th:text="'Запись к: ' + ${specialtyName}"></h2>
    <form id="form" th:action="@{/booking}" th:method="post" th:object="${bookAppointment}">
      <label for="dateOfAppointment">Дата: </label>
      <input type="date" th:field="*{dateOfAppointment}" id="dateOfAppointment"><br>

      <label for="timeStartAt">Выберите доступное время: </label>
      <select name="timeStartAt" id="timeStartAt">
        <option th:each="i : ${availableTimes}" th:value="${i}" th:text="${i}" th:selected="${i== ${selectedTime}}"></option>
      </select><br><br>

      <label for="workTime">Доступные специалисты по выбранной дате и времени: </label>
      <select th:field="workTime" id="workTime">
        <option th:each="k :${availableSpecialists}" th:value="${k}" th:text="${k}">
        </option>
      </select>

      <input type="submit" value="Записаться" class="submit_button">      
    </form>
  </div>
  
  <script src="js/*.js"></script>

</body>
</html>