<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:href="@{/css/main_specialist.css}" rel="stylesheet">
  <title>Главная страница</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div id="top">
  <ul id="toppanel">
    <li class="toppanelel">
      <a th:if="${currentUser.getRole()} == 'ROLE_RECORDKEEPER'" th:href="@{/main_record_keeper}" id="home" class="material-icons">home</a></li>
    <a th:if="${currentUser.getRole()} == 'ROLE_SPECIALIST'" th:href="@{/main_specialist}" id="home" class="material-icons">home</a></li>
    <a th:if="${currentUser.getRole()} == 'ROLE_PATIENT'" th:href="@{/main_patient}" id="home" class="material-icons">home</a>
    </li>
    <li class="toppanelel" style="float: right;">
      <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выход"/>
      </form>
    </li>
    <li class="toppanelel" style="float: right;" th:text="*{currentUser.getLastName()} + ' ' + *{currentUser.getFirstName()}"></li>
  </ul>
</div>

  <div id="mainDate">
    <form id="dateForm" action="" method="post">
      <label for="date">Дата:</label>
      <input type="date" name="date" id="date">
    </form>
  </div>

<div id="main">
    <h2>Список пациентов</h2>
    <table id="mainTable" class="mainTable">
      <thead>
        <tr>
          <th>Фамилия, Имя</th>
          <th>Время</th>
        </tr>
      </thead>
      <tbody id="appointmentData"></tbody>
    </table>
  <br><br>

  <div id="additionalFunctions">
    <h3>Дополнительные функции</h3>
    <p class="additionalFunctions">
      <a href="/all_patients">Все пациенты</a>
    </p>
  </div>
</div>

<br><br>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

  <script type="text/javascript" th:src="@{/js/main_specialist.js}"></script>
  
</body>
</html>