<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/main_record_keeper.css}" rel="stylesheet">
  <title>Главная страница</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel">
        <a th:if="${currentUser.getRole()} == 'ROLE_RECORDKEEPER'" th:href="@{/main_record_keeper}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole()} == 'ROLE_SPECIALIST'" th:href="@{/main_specialist}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole()} == 'ROLE_PATIENT'" th:href="@{/main_patient}" id="home" class="material-icons">home</a>
      </li>
      <li class="toppanelel" style="float: right;">
        <form th:action="@{/logout}" th:method="POST">
          <input type="submit" value="Выход"/>
        </form>
      </li>      
      <li class="toppanelel" style="float: right;" th:text="*{currentUser.getLastName()} + ' ' + *{currentUser.getFirstName()}"></li>
    </ul>
  </div>
  
  <div id="main">
    <h2>Специалисты</h2>
    <ul id="list">
      <li class="mainlist" th:each="specialty: ${specialties}"><a th:href="@{/specialists/{specialtyName}(specialtyName=${specialty})}" th:text="${specialty}"></a></li>
    </ul>

    <div id="additionalFunctions">
      <h3>Дополнительные функции</h3>
      <p class="additionalFunctions">
        <a href="/auth/registration_record_keeper">Добавить специалиста, пользователя</a><br>
        <a href="/all_specialists">Установить график работы для специалистов</a>
      </p>
    </div>
  </div>

  <br>
  <a href="/all_tables">Все таблицы</a>
    
  <script type="text/javascript" th:src="@{/js/main_record_keeper.js}"></script>

</body>
</html>