<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/medical_record.css}" rel="stylesheet">
  <title>Заголовок</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel">
        <a th:if="${currentUser.getRole} == 'ROLE_RECORDKEEPER'" th:href="@{/main_record_keeper}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_SPECIALIST'" th:href="@{/main_specialist}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_PATIENT'" th:href="@{/main_patient}" id="home" class="material-icons">home</a>
      </li>
      <li class="toppanelel" style="float: right;">
        <form th:action="@{/logout}" th:method="POST">
          <input type="submit" value="Выход"/>
        </form>
      </li>      
      <li class="toppanelel" style="float: right;"><a th:href="@{/person/{id}(id=*{currentUser.getId()})}" th:text="*{currentUser.getFirstName()} + ' ' + *{currentUser.getLastName()}"></a></li>      
    </ul>    
  </div>

  <div id="main">
    <h2 id="title" th:text="${patientName}"></h2><br>
    <form id="medical_record_form" th:action="@{/appointment}" th:method="post" th:object="${medicalCard}">
      <input type="hidden" th:field="*{patientId}" th:value="${patientId}">
      <label for="examination">Сведения о приеме</label><br>
      <textarea th:field="*{examination}" id="examination" form="medical_record_form" rows="10"></textarea>
      <br><br>
      <label for="diagnosis">Диагноз</label><br>
      <textarea th:field="*{diagnosis}" id="diagnosis" form="medical_record_form" rows="5"></textarea>
      <br><br>
      <label for="assignedTherapy">Лечение</label><br>      
      <textarea th:field="*{assignedTherapy}" id="assignedTherapy" form="medical_record_form" rows="8"></textarea>
      <br><br>
      <input type="submit" value="Сохранить" class="submit_button">
      <br><br>
      <span id="message" name="message" class="message"></span><br>
    </form>
  </div>

  
  <script type="text/javascript" th:src="@{/js/medical_record.js}"></script>

</body>
</html>