<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/work_time.css}" rel="stylesheet">
  <title>График работы</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel"><a href="" id="home" class="material-icons">home</a></li>
      <li class="toppanelel" style="float: right;">
        <form th:action="@{/logout}" th:method="POST">
          <input type="submit" value="Выход"/>
        </form>
      </li>      
      <li class="toppanelel" style="float: right;">Пользователь</li>      
    </ul>    
  </div>

  <div id="main">
    <form id="form" th:action="@{/specialist/work_time}" th:method="post" th:object="${workTime}">
      <label for="lastName">Фамилия:</label><br>
      <input type="text" id="lastName" th:value="*{specialist.getLastName()}" readonly><br>
      <label for="firstName">Имя:</label><br>
      <input type="text" id="firstName" th:value="*{specialist.getFirstName()}" readonly><br><br>

      <label for="dateOfWork">Дата:</label><br>
      <input type="date" id="dateOfWork" th:field="*{dateOfWork}"><br>
      <span>Время работы:</span><br>
      <input type="checkbox" id="workTimeMorning" value="morning"><br>
      <label for="workTimeMorning">08:00 - 12:00</label>
      <input type="checkbox" id="workTimeAfternoon" value="afternoon"><br>
      <label for="workTimeAfternoon">13:00 - 17:00</label><br>
      <!-- <label for="appointmentInterval">Интервал между приемами</label><br>
      <input type="number" id="appointmentInterval" min="1" max="120"><br> -->
      <input type="submit" value="Применить" class="submit_button"><br><br>
      <span id="message" name="message" class="message"></span><br>
    </form>
  </div>

  
  <script src="js/work_time.js"></script>

</body>
</html>