<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/work_time.css}" rel="stylesheet">
  <title>График работы</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
  <div id="top">
    <ul id="toppanel">
      <li class="toppanelel">
        <a th:if="${currentUser.getRole} == 'ROLE_RECORDKEEPER'" th:href="@{/main_record_keeper}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_SPECIALIST'" th:href="@{/main_specialist}" id="home" class="material-icons">home</a></li>
        <a th:if="${currentUser.getRole} == 'ROLE_PATIENT'" th:href="@{/main_patient}" id="home" class="material-icons">home</a>
      </li>
      <li class="toppanelel" style="float: right;">
        <form th:action="@{/logout}" th:method="POST">
          <input type="submit" value="Выход"/>
        </form>
      </li>      
      <li class="toppanelel" style="float: right;"><a th:href="@{/person/{id}(id=*{currentUser.getId()})}" th:text="*{currentUser.getFirstName()} + ' ' + *{currentUser.getLastName()}"></a></li>
    </ul>
  </div>

  <div id="main">
    <h3>График работы</h3>
    <form id="form" th:action="@{/specialist/work_time}" th:method="post" th:object="${dataForWorkTime}">
      <input type="hidden" th:field="*{dataForWorkTimeId}">
      <label for="lastName">Фамилия специалиста:</label><br>
      <input type="text" id="lastName" th:field="*{lastName}" readonly><br><br>
      <label for="firstName">Имя специалиста:</label><br>
      <input type="text" id="firstName" th:field="*{firstName}" readonly><br><br>

      <label for="dateOfWork">Дата:</label><br>
      <input type="date" id="dateOfWork" th:field="*{dateOfWork}"><br><br>
      
      <span>Время работы:</span><br>
      <label th:for="${#ids.next('workTimeMorning')}" id="workTimeMorningLabel">08:00 - 12:00</label>
      <input type="checkbox" id="workTimeMorning" th:field="*{workTimeMorning}"><br>

      <label th:for="${#ids.next('workTimeAfternoon')}" id="workTimeAfternoonLabel">13:00 - 17:00</label>
      <input type="checkbox" id="workTimeAfternoon" th:field="*{workTimeAfternoon}"><br>
      <span id="checkboxMessage" class="message"></span><br><br>

      <label for="appointmentInterval">Интервал между приемами:</label>
      <select th:field="*{appointmentInterval}" id="appointmentInterval">
        <option th:value="'10'" th:text="10"></option>
        <option th:value="'20'" th:text="20"></option>
        <option th:value="'30'" th:text="30"></option>
        <option th:value="'40'" th:text="40"></option>
        <option th:value="'50'" th:text="50"></option>
        <option th:value="'60'" th:text="60"></option>
      </select>
      <span> мин.</span><br><br><br>

      <input type="submit" value="Применить" class="submit_button"><br><br>
      <span id="message" name="message" class="message"></span><br>
    </form>
  </div>
  
  <script type="text/javascript" th:src="@{/js/work_time.js}"></script>

</body>
</html>